/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --primary-color: #263238;
  --background-color: #ECEFF1;
  --second-background-color: #CFD8DC;
  --secondary-color: #37474F;
  --primary-button-color: #FB8C00;
  --font-family: 'Roboto', sans-serif;
}
